In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
import joblib

In [2]:
df=pd.read_csv('vehicles.csv')

In [3]:
df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB
None

In [5]:
print(df.describe())

                 id         price           year      odometer  county  \
count  4.268800e+05  4.268800e+05  425675.000000  4.224800e+05     0.0
mean   7.311487e+09  7.519903e+04    2011.235191  9.804333e+04     NaN
std    4.473170e+06  1.218228e+07       9.452120  2.138815e+05     NaN
min    7.207408e+09  0.000000e+00    1900.000000  0.000000e+00     NaN
25%    7.308143e+09  5.900000e+03    2008.000000  3.770400e+04     NaN
50%    7.312621e+09  1.395000e+04    2013.000000  8.554800e+04     NaN
75%    7.315254e+09  2.648575e+04    2017.000000  1.335425e+05     NaN
max    7.317101e+09  3.736929e+09    2022.000000  1.000000e+07     NaN

                 lat           long
count  420331.000000  420331.000000
mean       38.493940     -94.748599
std         5.841533      18.365462
min       -84.122245    -159.827728
25%        34.601900    -111.939847
50%        39.150100     -88.432600
75%        42.398900     -80.832039
max        82.390818     173.885502

## Cleansing the data 
We will clean the data, handle the missing values, and convert the data types, amd removes the duplicates, and visialize the clean data

In [6]:
df.head(10)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,pa,NaN,NaN,NaN

In [7]:
# Removing the duplicates
df.drop_duplicates(inplace=True)

In [8]:
# checking the null values 
df.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [9]:
# Check for missing values
missing_data = df.isnull().sum()
missing_data_percentage = (missing_data / len(df)) * 100
missing_data_summary = pd.DataFrame({'Missing Values': missing_data, 'Percentage': missing_data_percentage})
print(missing_data_summary)

              Missing Values  Percentage
id                         0    0.000000
url                        0    0.000000
region                     0    0.000000
region_url                 0    0.000000
price                      0    0.000000
year                    1205    0.282281
manufacturer           17646    4.133714
model                   5277    1.236179
condition             174104   40.785232
cylinders             177678   41.622470
fuel                    3013    0.705819
odometer                4400    1.030735
title_status            8242    1.930753
transmission            2556    0.598763
VIN                   161042   37.725356
drive                 130567   30.586347
size                  306361   71.767476
type                   92858   21.752717
paint_color           130203   30.501078
image_url                 68    0.015930
description               70    0.016398
county                426880  100.000000
state                      0    0.000000
lat                     6549    1.534155
long                    6549    1.534155
posting_date              68    0.015930

In [10]:
cd=missing_data_summary[missing_data_summary['Percentage']> 50].index
df.drop(columns=cd, inplace=True)

In [11]:
df.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
type             92858
paint_color     130203
image_url           68
description         70
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [12]:
missing_data = df.isnull().sum()
missing_data_percentage = (missing_data / len(df)) * 100
missing_data_summary = pd.DataFrame({'Missing Values': missing_data, 'Percentage': missing_data_percentage})
print(missing_data_summary)

              Missing Values  Percentage
id                         0    0.000000
url                        0    0.000000
region                     0    0.000000
region_url                 0    0.000000
price                      0    0.000000
year                    1205    0.282281
manufacturer           17646    4.133714
model                   5277    1.236179
condition             174104   40.785232
cylinders             177678   41.622470
fuel                    3013    0.705819
odometer                4400    1.030735
title_status            8242    1.930753
transmission            2556    0.598763
VIN                   161042   37.725356
drive                 130567   30.586347
type                   92858   21.752717
paint_color           130203   30.501078
image_url                 68    0.015930
description               70    0.016398
state                      0    0.000000
lat                     6549    1.534155
long                    6549    1.534155
posting_date              68    0.015930

In [13]:
# Fill missing values for remaining columns
for column in ['manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'title_status', 
               'transmission', 'drive', 'type', 'paint_color']:
    df[column].fillna(df[column].mode()[0], inplace=True)

for column in ['year', 'odometer']:
    df[column].fillna(df[column].median(), inplace=True)

In [14]:
df.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year                 0
manufacturer         0
model                0
condition            0
cylinders            0
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             161042
drive                0
type                 0
paint_color          0
image_url           68
description         70
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [15]:
df.dropna(inplace=True)

In [16]:
df.isna().sum()

id              0
url             0
region          0
region_url      0
price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
title_status    0
transmission    0
VIN             0
drive           0
type            0
paint_color     0
image_url       0
description     0
state           0
lat             0
long            0
posting_date    0
dtype: int64

In [17]:
df.shape

(263686, 24)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 263686 entries, 27 to 426879
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            263686 non-null  int64
 1   url           263686 non-null  object
 2   region        263686 non-null  object
 3   region_url    263686 non-null  object
 4   price         263686 non-null  int64
 5   year          263686 non-null  float64
 6   manufacturer  263686 non-null  object
 7   model         263686 non-null  object
 8   condition     263686 non-null  object
 9   cylinders     263686 non-null  object
 10  fuel          263686 non-null  object
 11  odometer      263686 non-null  float64
 12  title_status  263686 non-null  object
 13  transmission  263686 non-null  object
 14  VIN           263686 non-null  object
 15  drive         263686 non-null  object
 16  type          263686 non-null  object
 17  paint_color   263686 non-null  object
 18  image_url     263686 non-null  object
 19  description   263686 non-null  object
 20  state         263686 non-null  object
 21  lat           263686 non-null  float64
 22  long          263686 non-null  float64
 23  posting_date  263686 non-null  object
dtypes: float64(4), int64(2), object(18)
memory usage: 50.3+ MB

In [19]:
x=df.drop(['id','url','region','region_url','description','image_url'],axis=1)
x

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,type,paint_color,state,lat,long,posting_date
27,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,other,3GTP1VEC4EG551563,4wd,pickup,white,al,32.590000,-85.480000,2021-05-04T12:31:18-0500
28,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,other,1GCSCSE06AZ123805,4wd,pickup,blue,al,32.590000,-85.480000,2021-05-04T12:31:08-0500
29,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160.0,clean,other,3GCPWCED5LG130317,4wd,pickup,red,al,32.590000,-85.480000,2021-05-04T12:31:25-0500
30,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,41124.0,clean,other,5TFRM5F17HX120972,4wd,pickup,red,al,32.590000,-85.480000,2021-05-04T10:41:31-0500
32,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,1GT220CG8CZ231238,4wd,pickup,black,al,32.590000,-85.480000,2021-05-03T13:41:25-0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,1N4AA6AV6KC367801,fwd,sedan,white,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,6 cylinders,gas,12029.0,clean,other,7JR102FKXLG042696,fwd,sedan,red,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,34990,2020.0,cadillac,xt4 sport suv 4d,good,6 cylinders,diesel,4174.0,clean,other,1GYFZFR46LF088296,4wd,hatchback,white,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,58ABK1GG4JU103853,fwd,sedan,silver,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,30590,2019.0,bmw,4 series 430i gran coupe,good,6 cylinders,gas,22716.0,clean,other,WBA4J1C58KBM14708,rwd,coupe,white,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [20]:
x.isna().sum()

price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
title_status    0
transmission    0
VIN             0
drive           0
type            0
paint_color     0
state           0
lat             0
long            0
posting_date    0
dtype: int64

In [21]:
x.shape

(263686, 18)

In [22]:
# Keep only required columns
required_columns = ['price', 'year', 'manufacturer', 'model', 'condition', 'cylinders', 
                    'fuel', 'odometer', 'title_status', 'transmission', 'drive', 
                    'type', 'paint_color']
df = x[required_columns]

In [23]:
df

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color
27,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,other,4wd,pickup,white
28,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,other,4wd,pickup,blue
29,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160.0,clean,other,4wd,pickup,red
30,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,41124.0,clean,other,4wd,pickup,red
32,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,4wd,pickup,black
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,fwd,sedan,white
426876,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,6 cylinders,gas,12029.0,clean,other,fwd,sedan,red
426877,34990,2020.0,cadillac,xt4 sport suv 4d,good,6 cylinders,diesel,4174.0,clean,other,4wd,hatchback,white
426878,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,fwd,sedan,silver
426879,30590,2019.0,bmw,4 series 430i gran coupe,good,6 cylinders,gas,22716.0,clean,other,rwd,coupe,white

In [26]:
df.to_csv("vehicles2.csv")

In [ ]:
# # 1) Idendtify the outliers in price
# def identify_outliers(df, column):
# price_outliers = identify_outliers(df, 'price')
# print(f'outliers in price: {len(price_outliers)}')
# print(price_outliers[['price']])
# return def